<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>

  <body>
    <h1>Welcome! <%=userInfo.name%>'s Profile Page</h1>

    <nav>
        <form action="/users/profile/<%=userInfo.id%>?_method=PUT" method="POST">
          Name:
          <input type="text" name="name" value="<%=userInfo.name%>" /><br />
          <br />
          Password:
          <input type="text" name="password" value="<%=userInfo.password%>" />
          <br />
          <br />
          <input type="submit" value="Edit Profile" />
        </form>
        
        <form action="/users/<%= userInfo.id%>?_method=DELETE" method="POST">
          <input type="submit" value="Delete User" />
        </form>
    
        <br /><br />
        <a href="/list">Create Shopping List</a>
        
    </nav>

  </body>
</html>